body {
    color: rgb(33, 40, 53);
}

.mainTitles {
    text-align: center;
    margin: 10px
}

.downloadButtonImage { 
    margin: 10px
} 

.profilePic {
    margin: 10px;
    width: 200px;
    border-radius: 50%;
}

